@porsche-design-system:registry=https://porschedev.jfrog.io/porschedev/api/npm/public-npm/
@finder:registry=https://porschedev.jfrog.io/porschedev/api/npm/public-npm/
@porsche:registry=https://porschedev.jfrog.io/porschedev/api/npm/public-npm/
@myporsche:registry=https://porschedev.jfrog.io/porschedev/api/npm/public-npm/
//porschedev.jfrog.io/porschedev/api/npm/public-npm/:_authToken=${NPM_TOKEN}

@slatldisal:registry=https://porschedev.jfrog.io/porschedev/api/npm/slatldisal-npm/
//porschedev.jfrog.io/porschedev/api/npm/slatldisal-npm/:_authToken=${NPM_TOKEN}

@defi:registry=https://pkgs.dev.azure.com/defiSOLUTIONS/72deae23-e1ef-48d1-8909-68f7172d9f64/_packaging/NPMPackages/npm/registry/
@porschehn:registry=https://porschedev.jfrog.io/porschedev/api/npm/public-npm/
@porsche-nav:registry=https://porschedev.jfrog.io/porschedev/api/npm/public-npm/

engine-strict=true
